@font-face {
  font-family: 'Circe';
  src: url('../font/circle/Circe-Regular.eot');
  src: url('../font/circle/Circe-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/circle/Circe-Regular.woff') format('woff'),
       url('../font/circle/Circe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../font/circle/Circe-Bold.eot');
  src: url('../font/circle/Circe-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/circle/Circe-Bold.woff') format('woff'),
       url('../font/circle/Circe-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}